.popup-section{
    width: 70%;
    height: 70%;
    z-index: 200;
    background-color: white;
    position: fixed;
    top:150px;
    left:200px;
    border:solid;
    border-width: 5px;
    display: flex;
    justify-content: center;
}
tr{
    height: 10px;
}
td{
    height: 20px;
    width: 50px;
}