.store-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    overflow-x: hidden; 
}

.item-section {
    height: 300px;
    width: 85%; 
    margin: 0 20px; 
    margin-bottom:30px;
    display: flex;
    flex-direction: column;
}
