.section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin-top:50px;
    margin-bottom:50px;
    align-items: center;
}
.button{
    border:none;
    height: 20px;
    font-weight: bold;
    font-size: 18px;
    background-color: #F6C8C8;
    padding:25px 50px;  
    text-align: center; /* Выравнивание текста по центру */
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover{
    background-color: #8EC9C7;
}
.tovar{
    border-radius: 13px 0px 0px 13px;
    background-color: #FEF1DD;
    cursor:default;
}
.tovar:hover{
    background-color: #FEF1DD;
}
.material{
    border-radius: 0px 13px 13px 0px;
}